

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1>Verificación de correo electrónico</h1>
        <p>Se ha enviado un correo de verificación a tu dirección de email. 
        Por favor, revisa tu bandeja de entrada y sigue las instrucciones para completar el registro.</p>
        <p>Si no has recibido el correo en unos minutos, revisa tu carpeta de spam.</p>
    </div>
    
</body>
</html>