<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>Login</title>
</head>
<body>
    <a href="{% url 'home' %}" class="exit"><img src="../../static/images/exit.svg" alt="pestaña de inicio"></a>
    <img src="../../static/images/vasoZanahoria.svg" alt="vaso de zanahoria">
    <div class="right_login">
        <h2>Ingresar a Apero</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Entrar">
        </form>
        <p>¿Aún no tienes cuenta? <a href="{% url 'account_signup' %}">Registrarme</a></p>
        <p class="apero">Apero</p>
    </div>
</body>
</html>